In [41]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [42]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [43]:
df = pd.read_csv('Shakespeare_data.csv')

In [44]:
df.head

<bound method NDFrame.head of         Dataline            Play  PlayerLinenumber ActSceneLine  \
0              1        Henry IV               NaN          NaN
1              2        Henry IV               NaN          NaN
2              3        Henry IV               NaN          NaN
3              4        Henry IV               1.0        1.1.1
4              5        Henry IV               1.0        1.1.2
5              6        Henry IV               1.0        1.1.3
6              7        Henry IV               1.0        1.1.4
7              8        Henry IV               1.0        1.1.5
8              9        Henry IV               1.0        1.1.6
9             10        Henry IV               1.0        1.1.7
10            11        Henry IV               1.0        1.1.8
11            12        Henry IV               1.0        1.1.9
12            13        Henry IV               1.0       1.1.10
13            14        Henry IV               1.0       1.1.11
14            15        Henry IV               1.0       1.1.12
15            16        Henry IV               1.0       1.1.13
16            17        Henry IV               1.0       1.1.14
17            18        Henry IV               1.0       1.1.15
18            19        Henry IV               1.0       1.1.16
19            20        Henry IV               1.0       1.1.17
20            21        Henry IV               1.0       1.1.18
21            22        Henry IV               1.0       1.1.19
22            23        Henry IV               1.0       1.1.20
23            24        Henry IV               1.0       1.1.21
24            25        Henry IV               1.0       1.1.22
25            26        Henry IV               1.0       1.1.23
26            27        Henry IV               1.0       1.1.24
27            28        Henry IV               1.0       1.1.25
28            29        Henry IV               1.0       1.1.26
29            30        Henry IV               1.0       1.1.27
...          ...             ...               ...          ...
111366    111367  A Winters Tale              37.0      5.3.155
111367    111368  A Winters Tale              37.0      5.3.156
111368    111369  A Winters Tale              37.0      5.3.157
111369    111370  A Winters Tale              37.0      5.3.158
111370    111371  A Winters Tale              37.0      5.3.159
111371    111372  A Winters Tale              37.0      5.3.160
111372    111373  A Winters Tale              37.0      5.3.161
111373    111374  A Winters Tale              37.0      5.3.162
111374    111375  A Winters Tale              38.0      5.3.163
111375    111376  A Winters Tale              38.0      5.3.164
111376    111377  A Winters Tale              38.0      5.3.165
111377    111378  A Winters Tale              38.0      5.3.166
111378    111379  A Winters Tale              38.0      5.3.167
111379    111380  A Winters Tale              38.0      5.3.168
111380    111381  A Winters Tale              38.0      5.3.169
111381    111382  A Winters Tale              38.0      5.3.170
111382    111383  A Winters Tale              38.0      5.3.171
111383    111384  A Winters Tale              38.0      5.3.172
111384    111385  A Winters Tale              38.0      5.3.173
111385    111386  A Winters Tale              38.0      5.3.174
111386    111387  A Winters Tale              38.0      5.3.175
111387    111388  A Winters Tale              38.0      5.3.176
111388    111389  A Winters Tale              38.0      5.3.177
111389    111390  A Winters Tale              38.0      5.3.178
111390    111391  A Winters Tale              38.0      5.3.179
111391    111392  A Winters Tale              38.0      5.3.180
111392    111393  A Winters Tale              38.0      5.3.181
111393    111394  A Winters Tale              38.0      5.3.182
111394    111395  A Winters Tale              38.0      5.3.183
111395    111396  A Winters Tale              38.0          NaN

               Player                                         PlayerLine
0                 NaN                                              ACT I
1                 NaN                       SCENE I. London. The palace.
2                 NaN  Enter KING HENRY, LORD JOHN OF LANCASTER, the ...
3       KING HENRY IV             So shaken as we are, so wan with care,
4       KING HENRY IV         Find we a time for frighted peace to pant,
5       KING HENRY IV     And breathe short-winded accents of new broils
6       KING HENRY IV            To be commenced in strands afar remote.
7       KING HENRY IV          No more the thirsty entrance of this soil
8       KING HENRY IV  Shall daub her lips with her own children's bl...
9       KING HENRY IV   Nor more shall trenching war channel her fields,
10      KING HENRY IV      Nor bruise her flowerets with the armed hoofs
11      KING HENRY IV              Of hostile paces: those opposed eyes,
12      KING HENRY IV      Which, like the meteors of a troubled heaven,
13      KING HENRY IV          All of one nature, of one substance bred,
14      KING HENRY IV             Did lately meet in the intestine shock
15      KING HENRY IV                And furious close of civil butchery
16      KING HENRY IV         Shall now, in mutual well-beseeming ranks,
17      KING HENRY IV           March all one way and be no more opposed
18      KING HENRY IV          Against acquaintance, kindred and allies:
19      KING HENRY IV       The edge of war, like an ill-sheathed knife,
20      KING HENRY IV  No more shall cut his master. Therefore, friends,
21      KING HENRY IV              As far as to the sepulchre of Christ,
22      KING HENRY IV       Whose soldier now, under whose blessed cross
23      KING HENRY IV             We are impressed and engaged to fight,
24      KING HENRY IV        Forthwith a power of English shall we levy,
25      KING HENRY IV     Whose arms were moulded in their mothers' womb
26      KING HENRY IV         To chase these pagans in those holy fields
27      KING HENRY IV         Over whose acres walk'd those blessed feet
28      KING HENRY IV       Which fourteen hundred years ago were nail'd
29      KING HENRY IV             For our advantage on the bitter cross.
...               ...                                                ...
111366        PAULINA                      There's time enough for that,
111367        PAULINA         Lest they desire upon this push to trouble
111368        PAULINA         Your joys with like relation. Go together,
111369        PAULINA          You precious winners all, your exultation
111370        PAULINA            Partake to every one. I, an old turtle,
111371        PAULINA      Will wing me to some wither'd bough and there
111372        PAULINA           My mate, that's never to be found again,
111373        PAULINA                             Lament till I am lost.
111374        LEONTES                                 O, peace, Paulina!
111375        LEONTES        Thou shouldst a husband take by my consent,
111376        LEONTES             As I by thine a wife: this is a match,
111377        LEONTES  And made between's by vows. Thou hast found mine,
111378        LEONTES       But how, is to be question'd, for I saw her,
111379        LEONTES     As I thought, dead, and have in vain said many
111380        LEONTES       A prayer upon her grave. I'll not seek far--
111381        LEONTES      For him, I partly know his mind--to find thee
111382        LEONTES              An honourable husband. Come, Camillo,
111383        LEONTES  And take her by the hand, whose worth and honesty
111384        LEONTES                 Is richly noted and here justified
111385        LEONTES     By us, a pair of kings. Let's from this place.
111386        LEONTES     What! look upon my brother: both your pardons,
111387        LEONTES            That e'er I put between your holy looks
111388        LEONTES         My ill suspicion. This is your son-in-law,
111389        LEONTES     And son unto the king, who, heavens directing,
111390        LEONTES    Is troth-plight to your daughter. Good Paulina,
111391        LEONTES         Lead us from hence, where we may leisurely
111392        LEONTES              Each one demand an answer to his part
111393        LEONTES     Perform'd in this wide gap of time since first
111394        LEONTES             We were dissever'd: hastily lead away.
111395        LEONTES                                             Exeunt

[111396 rows x 6 columns]>

In [45]:
df["Player"].value_counts()

GLOUCESTER          1920
HAMLET              1582
IAGO                1161
FALSTAFF            1117
KING HENRY V        1086
BRUTUS              1051
OTHELLO              928
MARK ANTONY          927
KING HENRY VI        917
DUKE VINCENTIO       909
TIMON                875
QUEEN MARGARET       847
Clown                804
KING LEAR            801
KING RICHARD II      794
MACBETH              783
TITUS ANDRONICUS     768
PROSPERO             745
CLEOPATRA            742
YORK                 740
HELENA               735
LEONTES              720
CORIOLANUS           717
ROSALIND             711
PORTIA               707
WARWICK              690
BUCKINGHAM           668
ROMEO                651
BIRON                647
PERICLES             645
                    ...
HERNIA                 1
Soldiers               1
Mariners               1
PHRYNIA                1
Second Roman           1
All The Lords          1
A Lord                 1
HORTENSIA              1
TAURUS                 1
First Murder           1
First Messenger        1
First Commoner         1
Some Others            1
Knights                1
Players                1
First Roman            1
Second Attendant       1
All the Goths          1
ANOTHER                1
PHILIP                 1
NICHOLAS               1
Third Stranger         1
HERBERT                1
PHILEMON               1
Second Knight          1
All Lords              1
GLANSDALE              1
Second Patrician       1
Second murderer        1
Outlaws                1
Name: Player, Length: 934, dtype: int64

Before we perform classification, I wanted to see all the different player possibilites we have from the data set

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111396 entries, 0 to 111395
Data columns (total 6 columns):
Dataline            111396 non-null int64
Play                111396 non-null object
PlayerLinenumber    111393 non-null float64
ActSceneLine        105153 non-null object
Player              111389 non-null object
PlayerLine          111396 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.1+ MB

In [47]:
df.columns

Index(['Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine', 'Player',
       'PlayerLine'],
      dtype='object')

In [48]:
df['Player'].fillna(value = 'Other')

0                 Other
1                 Other
2                 Other
3         KING HENRY IV
4         KING HENRY IV
5         KING HENRY IV
6         KING HENRY IV
7         KING HENRY IV
8         KING HENRY IV
9         KING HENRY IV
10        KING HENRY IV
11        KING HENRY IV
12        KING HENRY IV
13        KING HENRY IV
14        KING HENRY IV
15        KING HENRY IV
16        KING HENRY IV
17        KING HENRY IV
18        KING HENRY IV
19        KING HENRY IV
20        KING HENRY IV
21        KING HENRY IV
22        KING HENRY IV
23        KING HENRY IV
24        KING HENRY IV
25        KING HENRY IV
26        KING HENRY IV
27        KING HENRY IV
28        KING HENRY IV
29        KING HENRY IV
              ...
111366          PAULINA
111367          PAULINA
111368          PAULINA
111369          PAULINA
111370          PAULINA
111371          PAULINA
111372          PAULINA
111373          PAULINA
111374          LEONTES
111375          LEONTES
111376          LEONTES
111377          LEONTES
111378          LEONTES
111379          LEONTES
111380          LEONTES
111381          LEONTES
111382          LEONTES
111383          LEONTES
111384          LEONTES
111385          LEONTES
111386          LEONTES
111387          LEONTES
111388          LEONTES
111389          LEONTES
111390          LEONTES
111391          LEONTES
111392          LEONTES
111393          LEONTES
111394          LEONTES
111395          LEONTES
Name: Player, Length: 111396, dtype: object

In [49]:
df['Dataline'].fillna(value = 0)

0              1
1              2
2              3
3              4
4              5
5              6
6              7
7              8
8              9
9             10
10            11
11            12
12            13
13            14
14            15
15            16
16            17
17            18
18            19
19            20
20            21
21            22
22            23
23            24
24            25
25            26
26            27
27            28
28            29
29            30
           ...
111366    111367
111367    111368
111368    111369
111369    111370
111370    111371
111371    111372
111372    111373
111373    111374
111374    111375
111375    111376
111376    111377
111377    111378
111378    111379
111379    111380
111380    111381
111381    111382
111382    111383
111383    111384
111384    111385
111385    111386
111386    111387
111387    111388
111388    111389
111389    111390
111390    111391
111391    111392
111392    111393
111393    111394
111394    111395
111395    111396
Name: Dataline, Length: 111396, dtype: int64

In [58]:
df['Player'] = df['Player'].astype(str)

In [59]:
from sklearn import preprocessing

In [60]:
le = preprocessing.LabelEncoder()

In [61]:
le.fit(df['Player'])

LabelEncoder()

In [62]:
df['Player'] = le.transform(df['Player'])

In [64]:
le.fit(df['Play'])
df['Play'] = le.transform(df['Play'])

In [68]:
df['ActSceneLine'] = df['ActSceneLine'].astype(str)
le.fit(df['ActSceneLine'])
df['ActSceneLine'] = le.transform(df['ActSceneLine'])

In [78]:
df.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,9,NaN,6806,930,ACT I
1,2,9,NaN,6806,930,SCENE I. London. The palace.
2,3,9,NaN,6806,930,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,9,1.0,8614,457,"So shaken as we are, so wan with care,"
4,5,9,1.0,9847,457,"Find we a time for frighted peace to pant,"

In [79]:
df['PlayerLinenumber'].fillna(value = 0)

0          0.0
1          0.0
2          0.0
3          1.0
4          1.0
5          1.0
6          1.0
7          1.0
8          1.0
9          1.0
10         1.0
11         1.0
12         1.0
13         1.0
14         1.0
15         1.0
16         1.0
17         1.0
18         1.0
19         1.0
20         1.0
21         1.0
22         1.0
23         1.0
24         1.0
25         1.0
26         1.0
27         1.0
28         1.0
29         1.0
          ...
111366    37.0
111367    37.0
111368    37.0
111369    37.0
111370    37.0
111371    37.0
111372    37.0
111373    37.0
111374    38.0
111375    38.0
111376    38.0
111377    38.0
111378    38.0
111379    38.0
111380    38.0
111381    38.0
111382    38.0
111383    38.0
111384    38.0
111385    38.0
111386    38.0
111387    38.0
111388    38.0
111389    38.0
111390    38.0
111391    38.0
111392    38.0
111393    38.0
111394    38.0
111395    38.0
Name: PlayerLinenumber, Length: 111396, dtype: float64

In [98]:
X = df[['Play','ActSceneLine']]
Y = df[['Player']]

In [99]:
X = np.array(X)
Y = np.array(Y)

X is the set of predictor variables, and Y is the outcome variable. This will be used while testing the different classification models. Additionally I will need to make a training and a test set given that I am solving a supervised learning problem.

In [100]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2, random_state = 42)

In [101]:
df.fillna(value = 0)

,index,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,0,1,9,0.0,6806,930,ACT I
1,1,2,9,0.0,6806,930,SCENE I. London. The palace.
2,2,3,9,0.0,6806,930,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,3,4,9,1.0,8614,457,"So shaken as we are, so wan with care,"
4,4,5,9,1.0,9847,457,"Find we a time for frighted peace to pant,"
5,5,6,9,1.0,11080,457,And breathe short-winded accents of new broils
6,6,7,9,1.0,12313,457,To be commenced in strands afar remote.
7,7,8,9,1.0,13546,457,No more the thirsty entrance of this soil
8,8,9,9,1.0,13691,457,Shall daub her lips with her own children's bl...
9,9,10,9,1.0,13813,457,"Nor more shall trenching war channel her fields,"
10,10,11,9,1.0,13936,457,Nor bruise her flowerets with the armed hoofs
11,11,12,9,1.0,14058,457,"Of hostile paces: those opposed eyes,"
12,12,13,9,1.0,8625,457,"Which, like the meteors of a troubled heaven,"
13,13,14,9,1.0,8747,457,"All of one nature, of one substance bred,"
14,14,15,9,1.0,8869,457,Did lately meet in the intestine shock
15,15,16,9,1.0,8991,457,And furious close of civil butchery
16,16,17,9,1.0,9113,457,"Shall now, in mutual well-beseeming ranks,"
17,17,18,9,1.0,9236,457,March all one way and be no more opposed
18,18,19,9,1.0,9358,457,"Against acquaintance, kindred and allies:"
19,19,20,9,1.0,9481,457,"The edge of war, like an ill-sheathed knife,"
20,20,21,9,1.0,9603,457,"No more shall cut his master. Therefore, friends,"
21,21,22,9,1.0,9725,457,"As far as to the sepulchre of Christ,"
22,22,23,9,1.0,9858,457,"Whose soldier now, under whose blessed cross"
23,23,24,9,1.0,9980,457,"We are impressed and engaged to fight,"
24,24,25,9,1.0,10102,457,"Forthwith a power of English shall we levy,"
25,25,26,9,1.0,10224,457,Whose arms were moulded in their mothers' womb
26,26,27,9,1.0,10347,457,To chase these pagans in those holy fields
27,27,28,9,1.0,10469,457,Over whose acres walk'd those blessed feet
28,28,29,9,1.0,10592,457,Which fourteen hundred years ago were nail'd
29,29,30,9,1.0,10714,457,For our advantage on the bitter cross.
...,...,...,...,...,...,...,...
111366,111366,111367,2,37.0,5086,631,"There's time enough for that,"
111367,111367,111368,2,37.0,5087,631,Lest they desire upon this push to trouble
111368,111368,111369,2,37.0,5088,631,"Your joys with like relation. Go together,"
111369,111369,111370,2,37.0,5089,631,"You precious winners all, your exultation"
111370,111370,111371,2,37.0,5090,631,"Partake to every one. I, an old turtle,"
111371,111371,111372,2,37.0,5093,631,Will wing me to some wither'd bough and there
111372,111372,111373,2,37.0,5094,631,"My mate, that's never to be found again,"
111373,111373,111374,2,37.0,5095,631,Lament till I am lost.
111374,111374,111375,2,38.0,5096,494,"O, peace, Paulina!"
111375,111375,111376,2,38.0,5097,494,"Thou shouldst a husband take by my consent,"
111376,111376,111377,2,38.0,5098,494,"As I by thine a wife: this is a match,"
111377,111377,111378,2,38.0,5099,494,"And made between's by vows. Thou hast found mine,"
111378,111378,111379,2,38.0,5100,494,"But how, is to be question'd, for I saw her,"
111379,111379,111380,2,38.0,5101,494,"As I thought, dead, and have in vain said many"
111380,111380,111381,2,38.0,5103,494,A prayer upon her grave. I'll not seek far--
111381,111381,111382,2,38.0,5105,494,"For him, I partly know his mind--to find thee"
111382,111382,111383,2,38.0,5106,494,"An honourable husband. Come, Camillo,"
111383,111383,111384,2,38.0,5107,494,"And take her by the hand, whose worth and honesty"
111384,111384,111385,2,38.0,5108,494,Is richly noted and here justified
111385,111385,111386,2,38.0,5109,494,"By us, a pair of kings. Let's from this place."
111386,111386,111387,2,38.0,5110,494,"What! look upon my brother: both your pardons,"
111387,111387,111388,2,38.0,5111,494,That e'er I put between your holy looks
111388,111388,111389,2,38.0,5112,494,"My ill suspicion. This is your son-in-law,"
111389,111389,111390,2,38.0,5115,494,"And son unto the king, who, heavens directing,"
111390,111390,111391,2,38.0,5116,494,"Is troth-plight to your daughter. Good Paulina,"
111391,111391,111392,2,38.0,5118,494,"Lead us from hence, where we may leisurely"
111392,111392,111393,2,38.0,5119,494,Each one demand an answer to his part
111393,111393,111394,2,38.0,5120,494,Perform'd in this wide gap of time since first
111394,111394,111395,2,38.0,5121,494,We were dissever'd: hastily lead away.
111395,111395,111396,2,38.0,6806,494,Exeunt

In [102]:
df = df.reset_index()

The first classification model I'm going to try to use is a decision tree.

In [103]:
clf = tree.DecisionTreeClassifier()

In [104]:
clf = clf.fit(X_train, y_train)

In [105]:
clf.predict(X_test)

array([173, 402,  39, ..., 133, 649, 298])

In [106]:
print(accuracy_score(y_test, clf.predict(X_test)))

0.515754039497307